#punch{
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url('bag.png') center no-repeat;
  background-size: 80%;
}
#punch.burst{
    background: url('bag-burst.png') center no-repeat;
  background-size: 80%;
}
#health{
  width:200px;
  border: 2px solid #000;
  margin: 0 auto 50px auto;

}
#health div{
  height: 20px;
  background: crimson;
}
#control{
  width: 120px;
  margin: 0 auto;
}
